*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root
{
    --primary-text-color: #183b56;
    --seconday-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body
{
    font-family:Arial, Helvetica, sans-serif;
    color: var(--primary-text-color);
    background-color: #577592;
}

.main_container
{
    max-width: 100rem;
    margin: auto;
    padding-inline:var(--padding-inline-section);
}

.small_bold_text
{
    font-size: 1.5em;
    font-weight: bold;
}

.banner_text
{
    color: yellow;
    text-align: center;
}

.upper_banner
{
    background-color: darkgray;
    position: sticky;
    top: 0em;
    z-index: 100;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: black;
    filter: drop-shadow(0px 30px 10px black);
    position: sticky;
    top: 1.9em;
    z-index: 100;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLgyFG1SxcaGuo3OloXhemfirK5USRCZZNW1ZiIpGrvjoxB69DILuzGsIlFFux-Ysbzfw&usqp=CAU);
}

.main_nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100rem;
    padding-top: 2px;
}

.website_logo{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.website_name
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    color:whitesmoke;
}


.website_logo_complete
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 10em;
    border: 1px solid;
}

.website_logo_complete:hover
{
    border: 1px solid rgb(253, 253, 253);
    border-radius: 2%;;
}

.nav_list
{
    background-color: rgb(0, 0, 0);
    max-width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    filter: blur(0.7px);
    box-shadow: 0px 0px 10px white;
}

.nav_list ul
{
    display: flex;
    flex-direction: row;
}

.nav_list li
{
    list-style-type: none;  
    margin-inline: 1em;
    color: rgb(255, 255, 255);
    border-bottom:1px solid black;
}

.nav_list li:hover
{
    border-bottom:1px solid rgb(123, 255, 67);
}

.nav_submenu
{
    display: none;
    color: orange;
}

.nav_submenu ul{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.nav_submenu ul li{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.nav_li_div:hover .nav_submenu
{
    background-color: rgb(0, 0, 0);
    display: block;
    position: absolute;
    top: 38px;
    border: 1px solid grey;
    border-radius: 5%;

}
.nav_searchbar
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav_searchbar_in
{
    display: flex;
    flex-direction: row;
}

.input_nav_searchbar
{
    height: 2em;
}

.search_icon_btn
{
    height: 2em;
    background-color: white;
}

.search_icon_nav
{
    transform: scale(1);
}

.account_authentication
{
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 2px;
}
.user_authentication
{
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.nav_authentication_btn
{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-inline: 2px;
}

.nav_login
{
    border: none;
    padding-inline: 5px;
}
.nav_login:hover
{
    border: none;
    color: green;
}

.nav_signup
{
    padding: 2px;
    border: 1px solid white;
    padding-inline: 5px;

}
.nav_signup:hover
{
    background-color: blue;
    border: 1px solid white;
}

.account
{
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.account_btn
{
    border-radius: 20%;
    color: blue;
}



/* Section-1 */

.section_1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: blue; */
    position: relative;
    top: 2em;
    width: 100%;
    height: 40em;
}

.section_1_left
{
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    flex-direction: column;
    justify-content: safe;
    position: static;
    width: 50%;
    height: 40em;
    border: 5px grey solid;
    border-right: none;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    z-index: 99;
    padding-top: 5em;
    padding-left: 15px;
    text-align: justify;
}

.section_1_left_description
{
    /* background-color: yellow; */
}

.section_1_left_keys
{
    /* background-color: #183b56; */
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 10px;
    column-gap: 20px;
    height: 10em;
    width: 10em;
    position: relative;
    left: -2em;
}

.section_1_left_key_points
{
    /* background-color: #ff1010; */
    color: rgb(0, 0, 0);
    border: black 2px solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    width: 150px;
    height: 150px;
    position: relative;
    top: 2em;
    left: 5em;
    border-radius: 5%;
    /* filter: drop-shadow(10px 10px 20px grey); */
    box-shadow: 10px 10px 20px darkgrey;
}

.desc_h1_style{
    font-family:'Times New Roman', Times, serif;
    font-size: 4em;
}

.section_1_left_description h1{
    padding-left: 40px;
    
}
.desc_p_style{
    font-family:'Times New Roman', Times, serif;
    font-size: 1em;
}
.section_1_left_description p{
    padding-right: 90px;
    padding-left: 40px;
}

.sec_1_left_key_images
{
    width: 60px;
    position: relative;
    top: 1em;
    left: 2em;
    justify-self: center;
}

.section_1_left_keys p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section_1_right
{
    display: flex;
    justify-content: center;
    /* background-color: rgb(11, 255, 7); */
    position: relative;
    width: 50%;
    height: 40em;
    z-index: 98;
}

.section_1_img
{
    position: relative;
    top: -10em;
    left: -5em;
    height: 60em;
}



/* section 2 */
.section_2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: blue; */
    position: relative;
    top: 10em;
    width: 100%;
    height: 40em;
}

.section_2_left
{
    display: flex;
    justify-content: center;
    /* background-color: rgb(11, 255, 7); */
    position: relative;
    width: 50%;
    height: 40em;
    z-index: 98;
}

.section_2_img
{
    position: relative;
    top: -4em;
    left: 4em;
    height: 50em;
}

.section_2_right
{
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    flex-direction: column;
    justify-content: safe;
    position: relative;
    width: 50%;
    height: 40em;
    border: 5px grey solid;
    border-left: none;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    z-index: 99;
    padding-top: 5em;
    padding-left: 15px;
    text-align: justify;
}